*{
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Light, 微软雅黑;
}
body,html{
    width: 100%;
    height: 100%;
    /* min-height: 1200px; */
    color:#333;
    /* overflow: hidden;*/
    background: url('../images/bg.jpg') no-repeat;
    background-size: 100% 100%;
}
/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
img {
    border: 0;
    vertical-align: middle;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
/*清除浮动*/
.clear-both:before, .clear-both:after {
    display: table;
    content: "";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
}
.clearfix {
    *zoom: 1; /*IE/7/6*/
}
.fl{
    float: left;
}
.fr{
    float: right;
}

/*header开始*/
.t_title {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.8em;
    font-weight: 600;
    letter-spacing:0.2em;
    line-height: 80px;
    color: #fff;
    margin-top: 0.5%;
}
.content1_title{
    width: 95%;
    height: 100%;
    /* text-align: center; */
    font-size: 1.8em;
    font-weight: 400;
    /* letter-spacing:0.2em; */
    /* line-height: 80px; */
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
}
.content1_text{
    width: 60%;
    height: 100%;
    /* text-align: center; */
    font-size: 1.8em;
    font-weight: 400;
    /* letter-spacing:0.2em; */
    /* line-height: 80px; */
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    /* border: solid #ffff43 2px; */
}
.content1_button {
    margin-right: 15%;
    margin-top: 5%;
    position: relative;
}
.el-button--goon{
    height: 25px;
}
.header{
    width: 100%;
    height: 8%;
    padding:0 20px;
    min-width: 1366px;
    
}
.bg_header{
    width: 100%;
    height: 100%;
    background: url(../images/title.png) no-repeat;
    background-size: 100% 100%;
}
.header>.header_logo{
    padding:18px 10px 10px 0px;
}
.header>.header_logo>a{
    display: block;
}
.header>.header_logo>a>img{
    width:260px;
}

.header>.header_nav{
    margin-left: 20px;
}
.header>.header_nav>ul>li{
    float: left;
    margin-right: 6px;
    position: relative;
}
.header>.header_nav>ul>li>a{
    display: block;
    height: 80px;
    padding:0 10px 0 30px;
    line-height: 80px;
    color:#fff;
}
.header>.header_nav>ul>li>a:hover{
    border-bottom: 4px solid #4b8df8;
}
.header>.header_nav>ul>li>img{
    float: left;
    position: absolute;
    top: 33px;
    left:10px;
}
.header>.header_nav>ul>li>a.nav_current{
    border-bottom: 4px solid #4b8df8;
}

.header>.header_myself{
    width: 90px;
    text-align: center;
}
.header>.header_myself>p{
    color:#fff;
    font-size: 13px;
    margin-top: 15px;
}
.header>.header_myself>a{
    color:#fff;
    font-size: 13px;
}